{
	"env": {
		"node": true,
		"browser": true
	},
	"rules": {
		"array-bracket-spacing": 2,
		"camelcase": 2,
		"comma-spacing": 2,
		"computed-property-spacing": 2,
		"eqeqeq": 2,
		"guard-for-in": 2,
		"handle-callback-err": 2,
		"indent": [2, "tab", {SwitchCase: 1}],
		"no-multiple-empty-lines": [2, {"max": 2}],
		"no-redeclare": 2,
		"no-shadow": 0,
		"no-spaced-func": 2,
		"no-undef": 0,
		"no-underscore-dangle": 2,
		"no-unused-vars": 2,
		"no-void": 0,
		"object-curly-spacing": 2,
		"quotes": [2, "single"],
		"radix": 2,
		"semi": [2, "always"],
		"semi-spacing": 2,
		"space-after-keywords": 2,
		"space-before-blocks": 2,
		"space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
		"space-in-parens": [2, "never"],
		"space-infix-ops": 2,
		"valid-jsdoc": 2,
		"vars-on-top": 0,
		"wrap-iife": 0
	}
}
