{
	"env": {"node": true},
	"rules": {
		"camelcase": 2,
		"comma-spacing": 2,
		"eqeqeq": 2,
		"guard-for-in": 2,
		"handle-callback-err": 2,
		"no-multiple-empty-lines": [2, {"max": 2}],
		"no-redeclare": 2,
		"no-shadow": 0,
		"no-space-before-semi": 2,
		"no-spaced-func": 2,
		"no-undef": 0,
		"no-underscore-dangle": 2,
		"no-unused-vars": 2,
		"no-void": 0,
		"quotes": [2, "single"],
		"radix": 2,
		"semi": [2, "always"],
		"space-after-keywords": 2,
		"space-before-blocks": 2,
		"space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
		"space-in-brackets": 2,
		"space-in-parens": [2, "never"],
		"space-infix-ops": 2,
		"valid-jsdoc": 2,
		"vars-on-top": 0,
		"wrap-iife": 0
	}
}
