html {
	min-width: 550px;
	overflow-x: hidden;
}

:root {
	--github-green: #28a745;
	--github-red: #cb2431;
}

body {
	font-family: system-ui, sans-serif;
	font-size: 14px;
}

p {
	margin-top: 0.25em;
	margin-bottom: 0;
	line-height: 1.5;
}

h2,
h3,
h4 {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0.25em;
}

hr {
	margin: 1rem -1rem;
	border: none;
	border-bottom: solid #d3d3d3 1px;
}

.small {
	font-size: 0.875em;
}

label {
	display: flex;
	width: 100%;
	margin: 0.5em 0 0;
	align-items: center;
	flex-wrap: wrap;
}

summary label {
	display: inline;
}

label input[type='checkbox'] {
	margin-right: 0.5em;
}

input {
	font-family: inherit;
}

input[type='url'],
input[type='text'] {
	display: block;
	width: 100%;
	padding: 0.25em;
}

input:not([type='checkbox']):not(:placeholder-shown):valid {
	color: var(--github-green);
	border: 1px solid var(--github-green);
}

input:not([type='checkbox']):invalid {
	color: var(--github-red);
	border: 1px solid;
}

input[type='text'][name='token'] {
	font-family: Consolas, monospace;
	font-size: 12px;
	width: 35ch; /* Show only a part of the token */
}

.hidden {
	display: none;
}

#repositories-form {
	margin-top: 0.75em;
}

.repo-wrapper,
.repo-wrapper ul {
	margin: 0.5em 0;
}

.repo-wrapper ul > li {
	list-style-type: none;
}

.loader {
	display: none;
	width: 0.8em;
	height: 0.8em;
}

.loader::after {
	content: ' ';
	display: block;
	width: 0.7em;
	height: 0.7em;
	margin: 0 0.1em;
	border-radius: 50%;
	border: 2px solid var(--github-red);
	border-color: var(--github-red) transparent;
	animation: spin 1.2s linear infinite;
}

.loading > .loader {
	display: inline-block;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
