html {
	--github-green: #28a745;
	--github-red: #cb2431;
	min-width: 550px;
	overflow-x: hidden;
}

html.is-edgium {
	width: 100%;
	min-width: auto;
}

body {
	font-family: system-ui, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 16px;
	line-height: 1.5;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

h2,
h3,
h4 {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0.25rem;
}

hr {
	margin: 1rem -1rem;
	border: none;
	border-bottom: 1px solid #d3d3d3;
}

.small {
	font-size: 0.875em;
}

label {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0.5em 0;
}

label input[type='checkbox'] {
	margin-right: 0.5em;
}

/* Workaround for missing indeterminate icon bug in chrome extension */
input[type='checkbox']:indeterminate::after {
	content: '\2212';
	font-size: 16px;
	top: -5px;
	font-weight: bold;
	position: absolute;
}

input:not([type='checkbox']) {
	display: block;
	width: 100%;
	padding: 0.25rem;
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 12px;
}

input:not([type='checkbox']):not(:placeholder-shown):valid {
	color: var(--github-green);
	border: 1px solid var(--github-green);
}

input:not([type='checkbox']):invalid {
	color: var(--github-red);
	border: 1px solid var(--github-red);
}

input[type='text'][name='token'] {
	width: 35ch; /* Show only a part of the token */
}

.hidden {
	display: none;
}

#error-message {
	color: var(--github-red);
}

#repositories-form {
	margin: 0.5em 0 0 1.75em;
}

.repo-wrapper,
.repo-wrapper ul {
	margin: 0.25em 0 0.5em;
}

.repo-wrapper ul > li {
	list-style-type: none;
}

.repo-wrapper summary {
	display: flex;
	align-items: center;
}

.repo-wrapper label {
	margin: 0;
	margin-bottom: 0.25rem;
}

#reload-repositories .loader {
	display: none;
	width: 0.8em;
	height: 0.8em;
}

#reload-repositories .loader::after {
	content: ' ';
	display: block;
	width: 0.7em;
	height: 0.7em;
	margin: 0 0.1em;
	border-radius: 50%;
	border: 2px solid var(--github-red);
	border-color: var(--github-red) transparent;
	animation: spin 1.2s linear infinite;
}

#reload-repositories.loading > .loader {
	display: inline-block;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
