:root {
	--github-green: #28a745;
	--github-red: #cb2431;
}

html:not(.is-edgium) {
	min-width: 550px;
	overflow-x: hidden;
}

h2,
h3,
h4 {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0.25rem;
}

hr {
	margin: 1rem 0;
}

.small {
	font-size: 0.875em;
}

label {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0.5em 0;
}

label input[type='checkbox'] {
	margin-right: 0.5em;
}

input:not([type='checkbox']) {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 11px;
}

input:not([type='checkbox']):invalid {
	color: var(--github-red);
	border: 1px solid !important;
}

/*
Show only a part of the token
https://github.com/sindresorhus/refined-github/issues/1374#issuecomment-397906701
*/
input[type='text'][name='token'] {
	width: 35ch !important;
}

.hidden {
	display: none;
}

#error-message {
	color: var(--github-red);
}

#repositories-form {
	margin: 0.5em 0 0 1.75em;
}

.repo-wrapper,
.repo-wrapper ul {
	margin: 0.25em 0 0.5em;
}

.repo-wrapper ul,
.repo-wrapper ul > li {
	list-style-type: none;
}

.repo-wrapper label {
	display: inline-block;
	width: auto;
	margin: 0;
	margin-bottom: 0.25rem;
}

#reload-repositories .loader {
	display: none;
	width: 0.8em;
	height: 0.8em;
}

#reload-repositories .loader::after {
	content: ' ';
	display: block;
	width: 0.7em;
	height: 0.7em;
	margin: 0 0.1em;
	border-radius: 50%;
	border: 2px solid var(--github-red);
	border-color: var(--github-red) transparent;
	animation: spin 1.2s linear infinite;
}

#reload-repositories.loading > .loader {
	display: inline-block;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
