section {
	-webkit-padding-start: 18px;
}
section h3 {
	-webkit-margin-start: -18px;
}
section h3 + p {
	margin-top: 0;
}
input[type='text'], input[type='password'] {
	width: 350px;
}
span.description {
	font-style: italic;
	color: grey;
}
span#notifications-permission-error {
	color: red;
}
